table, th, td {
    border: 1px solid black;
  }

table {
    width: 100%;
    max-height: 75vh;
}

th, td {
    width: 100px;
    font-size: 24px;
}

.search-col {
    height: 75vh;
}

.form-field {
    width: 30vh;
    margin: 20px;
}

.form-field-top {
    width: 30vh;
    margin-top: 0px;
}

.form-submit {
    width: 20vh;
    margin-top: 40vh;
}

.form-label {
    font-size: 20px;
    margin: 0px 0px 5px 20px;
}